.form-box {
  padding-bottom: 2rem;
  margin-right: 0rem;
}

.form-text {
  padding-bottom: 0.75rem;
}

.file-input {
  display: none;
}

.form-alert {
  padding-top: 1rem;
}

.token-display {
  word-wrap: break-word;
}

.form-save-cred-toggle {
  float: right;
}
