.form-box {
  padding-bottom: 2rem;
  margin-right: 0rem;
}

.form-text {
  padding-bottom: 0.75rem;
}

.file-input {
  display: none;
}

.form-alert {
  padding-top: 1rem;
}

.form-reset {
  margin-top: 1rem !important;
}

.token-display {
  word-wrap: break-word;
}

.copy-button {
  margin-top: 1rem !important;
}

.response-box {
  margin-top: 1rem;
}
