.step-grid {
  padding: 0.5rem;
}

.info-num {
  height: 1.7rem !important;
  width: 1.7rem !important;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.dialog-title {
  font-size: 2rem !important;
}

.dialog-content {
  font-size: 1.2rem !important;
}

.subtitle {
  font-size: 1.3rem !important;
}
